.glavno{
    background-color: rgb(139, 35, 224);
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
}
body {
    background-color: rgb(180, 204, 212);
}
p {
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.tekst{
    margin-left: 5%;
    margin-right: 5%;
}
 
.ljesnjak{
    background-color: rgb(52, 218, 88);
    padding: 20px;
    text-align: center;
}
img{
    width: 30%;
    display: block;
    margin: auto;
}
 
.riza{
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
}
.bijelo{
    background-color: whitesmoke;
}
.slika{
    border-radius: 20px;
}

.zak{
    background-color: rgb(211, 224, 35);
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 50px;
}